.highlighter {
    opacity: 0.4;
    pointer-events: none;
}
.enable {
    opacity: 10 !important;
    pointer-events: visible !important;
}

.active-btn {
    background-color: #fff !important;
    color: #000 !important;
}
