
/*===================================================
=            Coomon Stlyes for the site            =
=====================================================*/

/* Font Styles Files Uplodding */

@include font("Able-Regular", "../fonts/abel/Abel-Regular");
@include font("Segoe-UI", "../fonts/segoe-ui/Segoe-UI"); 
@include font("Segoe-UI-Bold", "../fonts/segoe-ui/Segoe-UI-Bold");

/* Common Styles Start from Here */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  @include margin(0, 0, 0, 0);
  font-family: "Able-Regular", sans-serif;
  background: $color-black;
  color: $color-white;
}
body a {
  text-decoration: none !important;
}

button {
  outline: none;
  &:focus {
    outline: none !important;
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.Able-Regular {
  font-family: "Able-Regular", sans-serif !important;
}
.Segoe-UI-Bold {
  font-family: "Segoe-UI-Bold", sans-serif !important;
}
.Segoe-UI {
  font-family: "Segoe-UI", sans-serif !important;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  &.otp {
    white-space: nowrap;
    @media screen and (max-width:768px) {
      justify-content: start;
    }
  }
  .input-control {
    min-width: 90%;
    @media screen and (max-width:768px) { 
      min-width: 85%;
    }
  }
}

.form-otp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sction-btn {
  border: 0;
  background: transparent;
  @extend.input-group;
}

.input-control {
  font-size: 24px;
  letter-spacing: 4px;
  @media screen and (max-width:768px) {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .mat-form-field-label-wrapper {
    margin-top: 5px;
  }
  .mat-form-field-label {
    // font-size: 25px;
    color: #efbe09;
    padding-bottom: 5px;
    @extend .Able-Regular;
  }
  &.mat-form-field-appearance-standard .mat-form-field-underline,
  &.mat-form-field.mat-focused .mat-form-field-ripple.Able-Regular,
  .mat-form-field-ripple {
    height: 2px;
    background-color:#efbe09 !important;
  }
  .mat-input-element {
    caret-color: #efbe09;
    // font-size: 18px;
    @extend .Able-Regular;
  }
  &.mat-form-field.mat-focused .mat-form-field-label {
    // font-size: 16px;
    color: #efbe09;
  }
  font-weight: 400;
  min-width: 280px;
  &.otp {
    .mat-form-field-label {
      letter-spacing: 5px;
    }
  }
}

ng-otp-input {
  .otp-input {
    font-size: 24px !important;
    background: transparent !important;
    border: 0 !important;
    border-bottom: 2px solid #efbe09 !important;
    border-radius: 0 !important;
    color: #fff !important;
    @extend .Able-Regular;
    height: 50px !important;
    &:focus {
      outline: none;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px !important;
    }
    @media screen and (max-width: 420px) {
      width: 40px !important;
    }
  }
}

.sction-btn {
  margin-left: 10px;
  margin-top: 15px;
  cursor: pointer;
  .img-responsive {
    width: 32px;
    height:32px;
  }
}
