body {
    background: url("../images/landing_screen.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-wrapper {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    @media screen and (max-width:768px) {
        padding: 0 15px;
    }
    .brand-logo-wrapper {
        max-width: 250px;
        padding: 35px 0 0 50px;
        @media screen and (max-width:768px) {
            padding: 0px 0 0 0;
            margin: 0 auto;
            max-width: 200px;
        }
    }
    .home-main-content-wrapper {
        // position: absolute;
        @extend.Able-Regular;
        // top: 60px;
        // margin-top: -95px;
        margin-top: -15%;
        // left: 50%;
        // transform: translateX(-50%);
        text-align: center;
        @media screen and (max-width:768px) {
            position: relative;
            margin: 0;
            top: 0;
            // padding: 0 15px;
        }
        .home-title {
            font-size: 40px;
            text-transform: uppercase;
            line-height: 1;
            @extend.Able-Regular;
            margin: 0;
            font-weight: 400;
            span {
                color:#ecbe08;
            }
            @media screen and (max-width:768px) {
                font-size: 26px;
            }
        }
        .home-text {
            font-size: 20px;
            line-height: 1;
            font-weight: 400;
            color: #ecbe08;
            margin-top: 10px;
            @media screen and (max-width:768px) {
                font-size: 16px;
            }
        }
        form {
            // max-width: 490px;
            // margin: 80px auto 0;
            // @media screen and (max-width:768px) {
            //     margin: 50px auto 0;
            // }
            .phone-number {
                color: #efbe09;
                text-align: left;
                letter-spacing: 2px;
                font-weight: 400;
                margin: 0;
                &[disabled] {
                    opacity: 0.3;
                }
            }
            .otp-message {
                font-style: italic;
                font-size: 12px;
                text-align: left;
                opacity: 0.7;
                font-weight: 400;
                margin-top: 10px;
                .highlighter {
                    color: #efbe09;
                    font-style: normal;
                    cursor: pointer;
                }
            }
        }
        .success-otp {
            max-width: 335px;
            margin: 40px auto 0;
            .success-image {
                .right-img {
                    width: 50px;
                }
            }
            .thank-title {
                margin: 0;
                color: #7ac91e;
                font-size: 20px;
            }
            .thank-text {
                margin: 0;
            }
        }
    }
}

.copy-right {
    font-size: 16px;
    position: relative;
    bottom: 0px;
    @extend .Able-Regular;
    font-weight: 400;
    color: #5d5d5d;
    .link-copy {
        color: #ecbe08;
    }
}

.one-place-block {
    margin-top: 20px;
    @media screen and (max-width:768px) {
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .sub-text {
        font-size: 18px;
        margin-bottom: 20px;
        display: block;
        @media screen and (max-width:768px) {
           margin: 0;
         }
    }
    .one-img-block {
        max-width: 200px;
        margin: 0 auto; 
    }
}
