
/*=============================================
=               Site Variable              =
=============================================*/

// Color Variables
$color-white: #fff;
$color-black: #000;
$transparent: transparent;
$default-text-color: #0c3274;

// Break Points
$break-xs: 567px;
$break-sm: 767px;
$break-md: 991px;
$break-lg: 1200px;
$break-xl: 1400px;
