/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./assets/scss/styles.scss";

.mat-progress-spinner {
    &.small-spinner {
        svg {
            top: 22px;
            left: 20px;
            width: 50px !important;
            height: 50px !important;
        }
    }
     &.button-spinner {
         width: auto !important;
         height: 35px !important;
        svg {
            top: 8px;
            left: 4px;
            width: 20px !important;
            height: 20px !important;
            circle {
                stroke: #fff;
            }
        }
    }
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffb118;;
    stroke-width : 6% !important;
}

snack-bar-container{
    background: red!important;
    .mat-simple-snack-bar-content {
        color: white;
    }
    .mat-button-wrapper{
        color: white;
        font-size: 20px;
    }
}